{% extends "BlogGeneralBundle::layout.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="well msgErreur">
            <h1>Oops! Une erreur s'est produite</h1>
            <h1 class="msgErreurCode">{{ status_code }} {{ status_text }}</h1>
            <h2>
                Vous n'avez pas l'autorisation d'accéder à la page demandée.
                <br>
                Nous vous prions de nous excuser pour la gêne occasionnée.
            </h2>

            <p >Nous vous invitons à revenir à la <a href="{{ path('homepage') }}">page d'acceuil</a> de notre site.</p>
        </div>
    </div>
</div>

{% endblock %}
