{% extends "BlogGeneralBundle::layoutAdmin.html.twig" %}
{% block title %}Archiver un signalement{% endblock %}
{% block body %}
        <h2>Archiver un signalement</h2>
        <p>
            Etes-vous certain de vouloir archiver le signalement N°{{ reportAbus.id }} ?
        </p>
        <form action="{{ path('admin_archive_report', {'id': reportAbus.id}) }}" method="post">
            <a href="{{ path('admin') }}" class="btn btn-default">Retour au tableau de bord</a>
            <input type="submit" value="Archiver" class="btn btn-warning" />
        </form>
{% endblock %}
