        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des articles</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for article in listArticlesForSidebar %}
                        <li><a href="{{ path('view_article', {'id': article.id}) }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
