{% extends "BlogGeneralBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="well">
                {{ config.loadConfig.txtHome | raw }}
                <br />
                <p><a class="btn btn-primary btn-sm" href="{{ path('view_all_article', {'page': 1}) }}" role="button"><i class="fa fa-folder-open-o"></i>&nbsp; Voir les épisodes</a></p>
            </div>
        </div>
    </div>
{% endblock %}

