{% extends "BlogGeneralBundle::layout1.html.twig" %}

{% block title %}Affiche tous les articles avec commentaires{% endblock %}

{% block body %}


            <h1>Affiche tous les articles avec commentaires (TEST)</h1>
            <br>
            {% for article in pagination %}

                {% from "BlogGeneralBundle:Blog:Include-Article.html.twig" import afficherArticle %}
                {{ afficherArticle(article) }}

                {{ include("BlogGeneralBundle:Blog:Include-Comment-Form.html.twig") }}

                {% from "BlogGeneralBundle:Blog:Include-Comment.html.twig" import afficherCommentaires %}
                {{ afficherCommentaires(comments[article.id]) }}


            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

{% endblock %}



